<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>info</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>О магазине</h1>
        <p>
9 направлений йоги, функциональные тренировки, spa ритуалы, корпоративные предложения, детские занятия, special
классы. 
мастер-класс по ролиболу
28 февраля, суббота, 16:00
GONG-MEDITATION: звуковое путешествие с гонгом и кристаллическими чашами
1 март, воскресенье, 14:00
групповое гвоздестояние с шавасаной в гамаке: пробуждение силы
1 марта, воскресенье, 19:30
глубокая расслабляющая медитация в гамаках под звуки тибетских чаш
7 марта, суббота, 16:30
ПРАКТИКА ХАТХА-ЙОГИ + МЕДИТАЦИЯ ТРАТАКА
14 марта, суббота, 18:00
«кадры в невесомости»: йога в гамаках + фотосессия
15 марта, воскресенье, 13:30
108 КРУГОВ СУРЬЯ НАМАСКАР - ПРИВЕТСТВИЕ СОЛНЦУ с шавасаной под звуки тибетских чаш
15 марта, воскресенье, 14:00
особая практика кундалини йоги в день весеннего равноденствия
21 марта, суббота, 11:30
целеполагание на будущий месяц с гонг-медитацией
22 марта, воскресенье, 14:00
мантра-медитация ом 108
22 марта, воскресенье, 20:30
трансформационная игра лила
28 марта, суббота, 12:00
семинар с ксенией шатской. "мощь современной йоги. психосоматика, соматопсихика".
28-29 марта, суббота-воскресенье
йога-нидра в гамаках со звуковой медитацией
29 марта, воскресенье, 19:30
буддийские учения досточтимого ламы йонтена гиалтсо
10 апреля - 12 апреля, пятница - воскресенье
СЕМИНАР С ИЛЬЕЙ ЖУРАВЛЕВЫМ. "ХАТХА И РАДЖА ЙОГА, РЕГРЕССИЯ В ПРОШЛЫЕ ЖИЗНИ"
19-21 июня, пятница-воскресенье
СТУДИЯ ЙОГИ
В МАЯКЕ МИНСКА+375 29 181 82 88
proyogaminsk@gmail.comг. Минск
Петра мстиславца, 13-158договор офертыусловия оплатыполитика
конфиденциальности
онлайн-запись
адрес на карте
</p>
        <div class="mt-4">
            <a href="/" class="btn btn-outline-secondary">
                на главную страницу
            </a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>